# Created by venv; see https://docs.python.org/3/library/venv.html
env/
.venv
.venv312
.venv39
.venv311
venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.cache
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
*.log
data/*.csv
data/*.xlsx
data/*.xls
!data/processed/
!data/raw/
models/
notebooks/.ipynb_checkpoints
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
